.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
  }
  
  .pagination span {
    font-size: 16px;
    margin: 0 10px;
  }