#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Orbitron', serif;
  color: #ffffff;
  box-sizing: border-box;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  margin: 1em auto 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* 
.list-title,
ul > li {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
} */

ul > li {
  font-weight: 400;
  font-size: 1.5rem;
}

/* .loading {
  font-size: 1.5rem;
  align-self: center;
  margin: 1.5em auto;
} */

span {
  display: inline-block;
  margin: 0 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  border-top: #ffe81f 2px solid;
  padding-top: 1em;
}

.search-container {
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 100%;
}

/* .search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

/* .app-container {
  min-width: 380px;
  box-sizing: border-box;
  position: relative;
  max-width: 840px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
} */

button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding: 1em 2em;
  margin-bottom: 0;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
  background-color: #1e1e1e;
  font-size: 2rem;
  font-size: 1.5rem;
  padding: 1em 0.5em;
  border-radius: 0.4em;
  color: #ffffff;
  border: none;
  margin-bottom: 0;
  margin-right: 2em;
  flex: 1;
  min-width: 250px;
  max-width: 100%;
}

.search-btn,
.load-btn {
  background-color: #ffe81f;
  color: #0b3d91;
}

.search-btn {
  flex: 0 0 auto;
  width: 200px;
}

.load-btn {
  align-self: center;
  margin-top: 1.5em;
}

.error-btn {
  background-color: #e83a30;
  color: #ffffff;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.error-boundary {
  box-sizing: border-box;
  min-width: 380px;
  color: #e83a30;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 1em;
}
.error-boundary p {
  font-size: 1.5rem;
  font-weight: 800;
}

/* @media (max-width: 800px) {
  .search-input-container {
    gap: 0.5rem;
  }

  input {
    min-width: 150px;
  }

  .search-btn {
    width: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .list-title,
  ul > li {
    font-size: 1.5rem;
  }

  .error-boundary p,
  button,
  input {
    font-size: 1.2rem;
  }

  ul > li {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }

  .list-title,
  h2 {
    font-size: 1.2rem;
  }

  .error-boundary p,
  button,
  input {
    font-size: 1rem;
  }

  ul > li {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.2rem;
  }

  .error-boundary p,
  .list-title,
  h2 {
    font-size: 1rem;
  }

  button,
  input {
    font-size: 0.8rem;
  }

  ul > li {
    font-size: 0.6rem;
  }
} */

.not-found-page {
  text-align: center;
  margin-top: 50px;
}

.not-found-page h1 {
  font-size: 3rem;
  color: #ff0000;
}

.not-found-page p {
  font-size: 1.5rem;
  color: #555;
}
